{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/index_style.css' %}">
    <script src="{% static 'scripts/index_script.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>
<body>
    <nav class="top-nav">
        <p></p>
        <h1 class="title">Stronka Roksi</h1>
        <a href="/admin" class="button-admin">Admin</a>
    </nav>

    {% if posts %}
        <div class="posts-container">
            {% for post in posts %}
                <div class="post">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.date_posted }}</p>
                    
                    <div class="post-content" id="content-{{ forloop.counter }}">
                        <p>{{ post.content|linebreaks }}</p>
                    </div>
                    <a onclick="toggleContent('content-{{ forloop.counter }}')" class="read-more">↓ Read More ↓</a>
                    
                    <div class="post-photos">
                        {% for photo in post.photos.all %}
                            <img src="{{ photo.image.url }}" alt="Photo for post: {{ post.title }}">
                        {% endfor %}
                        <div>
                            <button class="prev">Prev</button>
                            <button class="next">Next</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p style = "color: white; font-size: 30px;">No posts are available.</p>
    {% endif %}
</body>
</html>